extends layout

block content
  h1= title

  form(action='/' method='POST' enctype='multipart/form-data')
    input(type='file' name='form-name-and-multer-name-must-match' accept='image/*' multiple='false')
    input(type='submit')

  img(src='#{imageURL}')
