extends layout

block content
  
  #profilePic
  #profile
    h4 #{username}
    h4 Respect
    h4#tribe Tribes:
    p
      li Location:
      li Interests:
  a(href=)h5 Connect with #{username}
  #connect
    h5 My Connections
    .con
    .con
    .con
    .con
    .con
    .con
  #post
    h2 My Posts
    p #{username.posts}
