extends layout

block content

  h1 #{username} Profile
  #profilePic.col
  a.h3 CONNECT with #{username}
  #userProfile.col
  #myConnections
    h4 View my connections
  #myPosts
    h1 View my posts
    a.button
