extends layout

block content
  #tribe
    h4 #{tribe}
    p
      li Location:
      li About:
      li Lead: #{lead}
  #tribeConnect
    h3 #{tribe}
    .tribeCon
    .tribeCon
    .tribeCon
    .tribeCon
    .tribeCon
    .tribeCon
  #upcomingEvents
    p
      li
      li
      li
  #tribePosts
    h2 Posts by #{tribe}
